@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}


body{
    background-image: linear-gradient(to right, #f26800, #A3CCAB, #34675C);
}

main{
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px /*lado*/ 5px /*embaixo*/ 15px /*transparencia*/ black /*cor*/;
}

h1{
    color: #f26800;
    text-align: center;
    text-shadow: 3px 3px 2px #9a43008c;
}

h2{
    color: #34675C;
}

p{
    text-align: justify;
}